<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAccountManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/AccountManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAccountManager" contract="ExamExplotionService.IAccountManager"
                name="NetTcpBinding_IAccountManager">
                <identity>
                    <userPrincipalName value="ZAIDPC\zaido" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/LobbyManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyManager" contract="ExamExplotionService.ILobbyManager"
                name="NetTcpBinding_ILobbyManager">
                <identity>
                    <userPrincipalName value="ZAIDPC\zaido" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>