<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAuthenticationManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/AuthenticationManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthenticationManager"
                contract="ExamExplotionService.IAuthenticationManager" name="NetTcpBinding_IAuthenticationManager" />
            <endpoint address="net.tcp://localhost:8081/LobbyManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyManager" contract="ExamExplotionService.ILobbyManager"
                name="NetTcpBinding_ILobbyManager" />
        </client>
    </system.serviceModel>
</configuration>